body{
    margin: 15px;
}
img{
    width: 200px;
    height: 200px;
}
main{
    width: 100%;
    text-align: justify;
    margin-right: 15px;
}
table{
    width: 700px;
    border-collapse: collapse;
}
td{
    width: 10px;
    text-align:center;
    border: 2px solid black;
}
ul, ol{
    text-align: justify;
}
li{
    margin-right: 15px;
}